.banner-grid-1{
  background-image: url("../public/banner/Group_7031.png");
  background-repeat: no-repeat;
}

.banner-grid-2{
  background-image: url("../public/banner/delivery.png");
  background-repeat: no-repeat;
}